html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 1.5rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

pre {
  font-family: "Courier New", monospace;
}

.titulo {
    margin-left: 3.5rem;
    margin-bottom: 0;
}

.session {
    font-style: italic;
    color: black !important;
}

.cifra b:not(.session) {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}
